section.bg-position-center-top.bg-no-repeat.pt-10.pb-5.py-md-10(style='background-image: url(img/home/mono-product/hero-bg.jpg);')
  // mt-lg-4 - отступ
  .container.pt-lg-5.mb-3.mb-lg-0
    .row
      .col-lg-5.col-md-6.col-sm-8.offset-lg-1
        // <h5 class="text-light font-weight-normal">Maze solver</h5>
        h1.text-light.mb-5 Enjoy the robot like never before
        .d-flex.align-items-center.mb-5
          a.btn.btn-primary.mr-grid-gutter(href='#')
            span.icon-cart_for_card.font-size-lg.mr-2
            | Add to Cart
          span.h4.mb-0.text-light.font-weight-normal
            | $329.
            small 99
        ul.list-unstyled.text-light.mb-0
          li.d-flex
            i.czi-bluetooth-circle.h5.font-weight-normal.text-light.mr-2
            .pl-1 Easy connection
          li.d-flex
            i.czi-sound-waves.h5.font-weight-normal.text-light.mr-2
            .pl-1 Best for kids
          li.d-flex
            i.czi-battery.h5.font-weight-normal.text-light.mr-2
            .pl-1 Up to 40 hours battery life